{% extends 'base.html' %}

{% load static %}

{% block title %}Lista de Tarefas{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<style>
	@media screen and (max-width: 1000px) {
		
		.container{
		    display: grid;
		    grid-template-columns: auto;
		    margin: 50px 0;
		}
		
		.painel-2{
			display: none !important;
		}
	}

</style>

    <div class="container">
	    
	<div class="painel-2">
			<img src="{% static 'images/python-image.png' %}" />
			<img src="{% static 'images/logo-html-css.png' %}" />
    	</div><!-- fim painel-2 -->

    	<div class="painel-1">
		  <h1>Olá Seja BEM-VINDO ao nosso portal Django!</h1>
		  
		  <h2>O que é Django?</h2>
		  <p>Django é um framework para aplicações web gratuito e de código aberto,
			 escrito em Python. Um web framework é um conjunto de componentes que ajuda
			 você a desenvolver sites de forma mais rápida e fácil.</p>

		  <p>Abordar o que será desenvolvido no portal.</p>
         
    	</div><!-- fim painel-1 -->

    	
	</div><!-- fim container -->
	
{% else %}

<style>
	
		
		.alerts {
            font-size: 15px;
            color: #fff;
			background-color: rgb(250, 9, 9);
            padding: 7px;
            margin: 50px auto;
            width: 40%;
            text-align: center;
			border: 2px solid #f0a720;
        }

		.alerts p i{
			font-size: 35px;
			margin: 10px;
		}

		.alerts a{
			text-decoration: none;
			color: #fff;
		}

		.alerts a:hover{
			color:#041811;
			text-decoration: underline;
		}
		
	

</style>

    <div class="alerts">

		<p><i class="fas fa-exclamation-triangle"></i></p>
	    
		Você não está logado! <a href="/login">Clique aqui</a> para realizar o login.

	</div><!-- fim container -->

{% endif %}

{% endblock %}
